//jade
doctype html
html
    head
        meta(charset='utf-8')
        title MetaDetail
        style
            include ../public/stylesheets/style.css
        script
            include ../public/javascripts/index.js
            include  ../public/javascripts/jquery-3.2.1.min.js
    body
        include ../public/static/meta.txt
        :markdown-it
            ### 本页面支持markdown
//
  注释
  多行注释

a(href="/markDownPage/show", target="_blank")  meta 操作手册


h2      #{body.display_name} 字段集!


ul
each val, index in body.schema
    li= '字段名: '
        a= val.display_name
    li= '数据库字段名: '
        a= index
    li= '字段类型: '
        a= val.type
    if val.options
        li= '可选值:'
            select
                for val2,index2 in  val.options.list.all.options_value
                    option #{val.options.list.all.options_value[index2]}
    if val.object_name
        li= '关联对象名: '
            a #{val.object_name}
    if val.delete_option
        li 级联关系:
            a= val.delete_option
    if val.default_value
        li= '默认值: '
            a #{val.default_value.value}
    br
    a(href='/schema/edit/' + index )
        = '   Edit   -|'
    a(href='/schema/delete/' + index )
        = '-  Delete   '
    br
    a(style='color:black') ------------------------------------------
if body.dependency_by.reverse_lookup
    h2 表的关联关系
    ul
    each val, index in body.dependency_by.reverse_lookup
        li= '关联表:'
            a= index
        li= '关联字段: '
            a= val.column_names
        //a(href='/edit/' + index ) Edit
        a(style='color:red') ------------------------------------------
        br

h2 对象权限
li creatable<escaped> #{body.creatable}
li readable<escaped> #{body.readable}
li updatable<escaped> #{body.updatable}
li deletable<escaped> #{body.deletable}

