//jade
doctype html
html
    head
        meta(charset='utf-8')
        title Validation
        include ../public/static/head.jade
        style
            include ../public/stylesheets/style.css
        script
            include ../public/javascripts/index.js
    body
        img(src="/images/foo.png")
        br
        if body
            for val,index in body
                .myDiv
                    tr
                        td
                            a= '验证器名称: '
                            input.VerName(type='text',value= "#{index}")
                        td

                        td
                            a= '错误提示: '
                            input.errMsg(type='text',value= "#{val.error_message}" size=50)

                    br
                    a= '是否启用:'
                    if val.is_valid
                        input.valid(type='checkbox',checked='#{val.is_valid}')
                    else
                        input.valid(type='checkbox')
                    br
                    br
                    //a= val.description
                    textarea.validationdd(rows="6",cols="96") #{val.expression}
                    br
                    button.editBut 修改
                    br
                    a(style='color:red')= '-------------------------------------'
                    br
        else
            ul
                li= '该对象无Validation'

    script.
        $(function () {
            $('.editBut').on('click', function () {
                var arr = $(this).parent('div').children('input');
                var name = arr[0].value;
                var is_valid = arr[1].checked;
                var error_message = arr[2].value;
                var expression = $(this).parent('div').children('.validationdd').val();
                $.ajax({
                    url:'/validation/edit',
                    data:{
                        name:name,
                        expression: expression,
                        is_valid: is_valid,
                        description: '',
                        error_message: error_message,
                        position: ''
                    },
                    dataType:'json',
                    type:'post',
                    success:function(data){
                        alert(data.success);
                    }
                })

            })
        })



